<h1>My Song</h1>

<% @songs.each do |song| %>
    <ul>
        <li>
        <%= song.name %>
        -
        <%= song.artist.name %>
        -
        <%= song.genre.name %>
        
        </li>
    </ul>

<%end %>